@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: poppins;
    font-size: 70%;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.presentation-men{
    background: url('/src/assets/men.png') no-repeat fixed;
    background-size: contain;
    background-position-x: right;
    background-color: #e9e9e9;
    height: 90vh;
}

.presentation-women{
    background: url('/src/assets/women.png') no-repeat fixed;
    background-size: contain;
    background-position-x: right;
    background-color: #f4f5ef;
    height: 90vh;
}

.each:hover{
    margin-top: -4px;
    transition: 0.3s;
}

.prods{
    background-color: #F0F8FF;
    height: fit-content;
    width: 100vw;
}

.img-prods:hover{
    margin-top: -4px;
    transition: 0.5s;
}

h1{
    font-size: 1.6rem;
}

input, textarea{
    padding: .8rem;
    background-color: rgb(226, 225, 225);
    border-radius: 5px;
    width: 70%;
    margin: .9rem;
    outline-color: #999799;
}
textarea{
    height: 20rem;
    font-size: 1rem;
}

input, button{
    font-size: 1.2rem;
}

button{
    padding: .5rem;
    width: 70%;
    border-radius: 5px;
    margin: .9rem;
}

li{
    margin-inline: 6.4rem;
}

.hovercard-content, 
.advice-modals {
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.hovercard-content[data-side='top'], 
.advice-modals {
    animation-name: slideUp;
}

.hovercard-content[data-side='bottom'], 
.advice-modals {
    animation-name: slideDown;
}

@keyframes slideUp{
    from{
        opacity: 0;
        transform: translateY(10px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
        margin-left: 50%;
    }
}

@keyframes slideDown{
    from{
        opacity: 0;
        margin-top: -10px;
    }

    to{
        opacity: 1;
    }
}

/*media queries*/

@media(max-width: 1374px) {
    .populars-grid{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2.4rem;
        place-items: center;
    }

    .container-form{
        height: 70vh;
    }

    .prods h1{
        text-align: center;
    }

    .op-prods{
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
}

@media(max-width: 1075px) {
    .options{
        place-items: center;
    }

    .navbar{
        height: 8vh;
    }

    .container-form{
        width: 80%;
        height: 400px;
    }

    .container-form img{
        height: 400px;
        width: 700px;
    }

    .op-prods{
        gap: 4.2rem;
    }
}

@media(max-width: 768px) {

    .main-men{
        overflow: hidden;
    }

    .populars-grid{
        grid-template-columns: 1fr 1fr;
        row-gap: 2.4rem;
        place-items: center;
    }

    .options{
        place-items: center;
    }

    .footer{
        place-items: center;
    }

    .footer p{
        height: 80%;
    }

    .types-ul li{
        width: 4rem;
        font-size: .9rem;
        display: flex;
        justify-content: center;
    }

    .op-prods{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 687px) {
    .options{
        place-items: center;
        column-gap: 2.4rem;
    }

    .types-ul li{
        font-size: .9rem;
        display: flex;
        justify-content: center;
    }

    .nav-list-not-visible{
        position: absolute;
        right: 0;
        top: 6vh;
        background-color: #e8f4e8;
        height: 40vh;
        width: 100vw;
        font-weight: 700;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        display: none;
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        animation-name: slideUp;
    }

    .nav-list{
        position: absolute;
        right: 0;
        top: 6vh;
        background-color: #e8f4e8;
        height: 40vh;
        width: 100vw;
        font-weight: 700;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        animation-name: slideDown;
    }

    .hamburguer{
        display: block;
        margin-right: 2rem;
    }
}

@media(max-width: 671px) {
    .options{
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(3) auto;
        row-gap: 2.4rem;
    }

    .types-ul{
        width: 99.5%;
    }
}

@media(max-width: 536px) {
    .populars-grid{
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        row-gap: 2.4rem;
    }

    .footer p{
        width: 70%;
    }
}

@media(max-width: 416px) {
    body{
        overflow-x: hidden;
    }
}